<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ge-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>-80</integer>
	</dict>
	<key>Kaverticalstroke-cy</key>
	<dict>
		<key>Obarred-cy</key>
		<integer>-70</integer>
	</dict>
	<key>Pemiddlehook-cy</key>
	<dict>
		<key>Zhebreve-cy</key>
		<integer>-40</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-140</integer>
		<key>public.kern2.w</key>
		<integer>-50</integer>
		<key>public.kern2.y</key>
		<integer>-120</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>nine</key>
		<integer>-40</integer>
		<key>two</key>
		<integer>-10</integer>
	</dict>
	<key>ellipsis</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.R</key>
		<integer>-20</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-90</integer>
		<key>quotedblright</key>
		<integer>-80</integer>
		<key>quoteright</key>
		<integer>-80</integer>
	</dict>
	<key>emdash</key>
	<dict>
		<key>public.kern2.M2</key>
		<integer>-50</integer>
		<key>public.kern2.X</key>
		<integer>-80</integer>
		<key>public.kern2.x</key>
		<integer>-30</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>public.kern2.M2</key>
		<integer>-50</integer>
		<key>public.kern2.X</key>
		<integer>-80</integer>
		<key>public.kern2.x</key>
		<integer>-30</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.t</key>
		<integer>-40</integer>
	</dict>
	<key>ge-cy</key>
	<dict>
		<key>de-cy</key>
		<integer>-80</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>public.kern2.M2</key>
		<integer>-50</integer>
		<key>public.kern2.X</key>
		<integer>-80</integer>
		<key>public.kern2.x</key>
		<integer>-30</integer>
	</dict>
	<key>ka-cy</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-70</integer>
	</dict>
	<key>longs</key>
	<dict>
		<key>longs</key>
		<integer>60</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.B</key>
		<integer>-20</integer>
		<key>public.kern2.C</key>
		<integer>-60</integer>
		<key>public.kern2.D</key>
		<integer>-30</integer>
		<key>public.kern2.G</key>
		<integer>-50</integer>
		<key>public.kern2.L</key>
		<integer>-40</integer>
		<key>public.kern2.M2</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.S</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-90</integer>
		<key>public.kern2.U</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.W</key>
		<integer>-40</integer>
		<key>public.kern2.X</key>
		<integer>-30</integer>
		<key>public.kern2.g</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-60</integer>
		<key>public.kern2.w</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.C</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
		<key>public.kern2.N</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
		<key>public.kern2.Z</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.E</key>
		<integer>-20</integer>
		<key>public.kern2.M2</key>
		<integer>-50</integer>
		<key>public.kern2.N</key>
		<integer>-10</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.D</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.E</key>
		<integer>-10</integer>
		<key>public.kern2.J</key>
		<integer>-60</integer>
		<key>public.kern2.M2</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.Z</key>
		<integer>-30</integer>
		<key>public.kern2.comma</key>
		<integer>-60</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-50</integer>
		<key>public.kern2.x</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.D</key>
		<integer>-10</integer>
		<key>public.kern2.E</key>
		<integer>-20</integer>
		<key>public.kern2.G</key>
		<integer>-40</integer>
		<key>public.kern2.J</key>
		<integer>-110</integer>
		<key>public.kern2.M2</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-50</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>-90</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.u</key>
		<integer>-30</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.G</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.M2</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>public.kern2.G</key>
		<integer>-60</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.S</key>
		<integer>-30</integer>
		<key>public.kern2.Z</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.period</key>
		<integer>-30</integer>
		<key>public.kern2.u</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-60</integer>
		<key>public.kern2.w</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.E</key>
		<integer>-10</integer>
		<key>public.kern2.L</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.T</key>
		<integer>-190</integer>
		<key>public.kern2.U</key>
		<integer>-10</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.W</key>
		<integer>-50</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.Z</key>
		<integer>-40</integer>
		<key>public.kern2.period</key>
		<integer>-30</integer>
		<key>public.kern2.w</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-30</integer>
		<key>registered</key>
		<integer>-150</integer>
		<key>trademark</key>
		<integer>-150</integer>
	</dict>
	<key>public.kern1.M2</key>
	<dict>
		<key>emdash</key>
		<integer>-50</integer>
		<key>endash</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.D</key>
		<integer>-10</integer>
		<key>public.kern2.E</key>
		<integer>-30</integer>
		<key>public.kern2.G</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.U</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-50</integer>
		<key>public.kern2.Z</key>
		<integer>-20</integer>
		<key>public.kern2.exclamation</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>trademark</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.N</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-40</integer>
		<key>public.kern2.T</key>
		<integer>20</integer>
		<key>public.kern2.comma</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>ellipsis</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.E</key>
		<integer>-10</integer>
		<key>public.kern2.F</key>
		<integer>-10</integer>
		<key>public.kern2.G</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
		<key>public.kern2.K-reversed</key>
		<integer>-80</integer>
		<key>public.kern2.M2</key>
		<integer>-30</integer>
		<key>public.kern2.R</key>
		<integer>-10</integer>
		<key>public.kern2.S</key>
		<integer>-30</integer>
		<key>public.kern2.T</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-20</integer>
		<key>public.kern2.X</key>
		<integer>-40</integer>
		<key>public.kern2.comma</key>
		<integer>-60</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>semicolon</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>colon</key>
		<integer>-30</integer>
		<key>public.kern2.A</key>
		<integer>-110</integer>
		<key>public.kern2.J</key>
		<integer>-130</integer>
		<key>public.kern2.M2</key>
		<integer>-40</integer>
		<key>public.kern2.X</key>
		<integer>-20</integer>
		<key>public.kern2.Z</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.comma</key>
		<integer>-140</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.period</key>
		<integer>-150</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>I_J</key>
		<integer>-40</integer>
		<key>colon</key>
		<integer>-50</integer>
		<key>ellipsis</key>
		<integer>-30</integer>
		<key>emdash</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>public.kern2.A</key>
		<integer>-70</integer>
		<key>public.kern2.B</key>
		<integer>-10</integer>
		<key>public.kern2.C</key>
		<integer>-30</integer>
		<key>public.kern2.D</key>
		<integer>-30</integer>
		<key>public.kern2.E</key>
		<integer>-40</integer>
		<key>public.kern2.G</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-60</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>public.kern2.Z</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.comma</key>
		<integer>-60</integer>
		<key>public.kern2.exclamation</key>
		<integer>-50</integer>
		<key>public.kern2.i</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-60</integer>
		<key>semicolon</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>colon</key>
		<integer>-20</integer>
		<key>ellipsis</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.C</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
		<key>public.kern2.M2</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.T</key>
		<integer>-40</integer>
		<key>public.kern2.Y2</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.c</key>
		<integer>-50</integer>
		<key>public.kern2.comma</key>
		<integer>-70</integer>
		<key>public.kern2.exclamation</key>
		<integer>-20</integer>
		<key>public.kern2.h</key>
		<integer>-40</integer>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.m</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.p</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>public.kern2.t</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-80</integer>
		<key>public.kern2.w</key>
		<integer>-30</integer>
		<key>public.kern2.y</key>
		<integer>-30</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.Shha-cy</key>
	<dict>
		<key>public.kern2.Che-cy</key>
		<integer>-120</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>ellipsis</key>
		<integer>-90</integer>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.J</key>
		<integer>-130</integer>
		<key>public.kern2.M2</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-70</integer>
		<key>public.kern2.comma</key>
		<integer>-110</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
		<key>public.kern2.period</key>
		<integer>-140</integer>
		<key>public.kern2.r</key>
		<integer>-70</integer>
		<key>public.kern2.s</key>
		<integer>-80</integer>
		<key>public.kern2.u</key>
		<integer>-50</integer>
		<key>public.kern2.y</key>
		<integer>-50</integer>
		<key>question</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>ellipsis</key>
		<integer>-90</integer>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-80</integer>
		<key>public.kern2.M2</key>
		<integer>-50</integer>
		<key>public.kern2.N</key>
		<integer>-10</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>-80</integer>
		<key>public.kern2.c</key>
		<integer>-40</integer>
		<key>public.kern2.comma</key>
		<integer>-90</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
		<key>public.kern2.period</key>
		<integer>-100</integer>
		<key>public.kern2.r</key>
		<integer>-80</integer>
		<key>public.kern2.u</key>
		<integer>-60</integer>
		<key>public.kern2.y</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.B</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>-60</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.comma</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>public.kern2.r</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-50</integer>
		<key>public.kern2.y</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.X</key>
	<dict>
		<key>emdash</key>
		<integer>-80</integer>
		<key>endash</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-80</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>colon</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.J</key>
		<integer>-20</integer>
		<key>public.kern2.comma</key>
		<integer>-80</integer>
		<key>public.kern2.exclamation</key>
		<integer>-40</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
		<key>semicolon</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.Y2</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>colon</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.comma</key>
		<integer>-50</integer>
		<key>public.kern2.exclamation</key>
		<integer>-40</integer>
		<key>public.kern2.g</key>
		<integer>-10</integer>
		<key>public.kern2.j</key>
		<integer>10</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.a</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>-10</integer>
		<key>public.kern2.l</key>
		<integer>-20</integer>
		<key>public.kern2.u</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.k</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.t</key>
		<integer>-30</integer>
		<key>public.kern2.u</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.comma</key>
	<dict>
		<key>asterisk</key>
		<integer>-120</integer>
		<key>quotedblright</key>
		<integer>-120</integer>
		<key>quoteright</key>
		<integer>-120</integer>
	</dict>
	<key>public.kern1.d</key>
	<dict>
		<key>public.kern2.i</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>colon</key>
		<integer>-80</integer>
		<key>ellipsis</key>
		<integer>-120</integer>
		<key>emdash</key>
		<integer>-80</integer>
		<key>endash</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-100</integer>
		<key>public.kern2.a</key>
		<integer>-90</integer>
		<key>public.kern2.comma</key>
		<integer>-140</integer>
		<key>public.kern2.exclamation</key>
		<integer>-70</integer>
		<key>public.kern2.f</key>
		<integer>-50</integer>
		<key>public.kern2.g</key>
		<integer>-90</integer>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.m</key>
		<integer>-60</integer>
		<key>public.kern2.n</key>
		<integer>-90</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.p</key>
		<integer>-90</integer>
		<key>public.kern2.period</key>
		<integer>-140</integer>
		<key>public.kern2.r</key>
		<integer>-90</integer>
		<key>public.kern2.s</key>
		<integer>-90</integer>
		<key>public.kern2.t</key>
		<integer>-40</integer>
		<key>public.kern2.u</key>
		<integer>-80</integer>
		<key>public.kern2.w</key>
		<integer>-60</integer>
		<key>public.kern2.x</key>
		<integer>-70</integer>
		<key>public.kern2.z</key>
		<integer>-70</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.g</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.i</key>
	<dict>
		<key>public.kern2.g</key>
		<integer>-20</integer>
		<key>public.kern2.m</key>
		<integer>-10</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.j</key>
	<dict>
		<key>ellipsis</key>
		<integer>-50</integer>
		<key>public.kern2.Z</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-70</integer>
		<key>public.kern2.comma</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>semicolon</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>emdash</key>
		<integer>-80</integer>
		<key>endash</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-80</integer>
		<key>public.kern2.Z</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-80</integer>
		<key>public.kern2.b</key>
		<integer>-70</integer>
		<key>public.kern2.c</key>
		<integer>-100</integer>
		<key>public.kern2.f</key>
		<integer>-20</integer>
		<key>public.kern2.g</key>
		<integer>-80</integer>
		<key>public.kern2.h</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-40</integer>
		<key>public.kern2.m</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.r</key>
		<integer>-40</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>public.kern2.t</key>
		<integer>-50</integer>
		<key>public.kern2.u</key>
		<integer>-80</integer>
		<key>public.kern2.v</key>
		<integer>-90</integer>
		<key>public.kern2.w</key>
		<integer>-80</integer>
		<key>public.kern2.x</key>
		<integer>-60</integer>
		<key>public.kern2.y</key>
		<integer>-70</integer>
		<key>public.kern2.z</key>
		<integer>-60</integer>
		<key>quotedblright</key>
		<integer>-80</integer>
		<key>quoteright</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.l</key>
	<dict>
		<key>public.kern2.k</key>
		<integer>40</integer>
	</dict>
	<key>public.kern1.m</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.n</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.g</key>
		<integer>-10</integer>
		<key>public.kern2.k</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.u</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-30</integer>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>f</key>
		<integer>-10</integer>
		<key>public.kern2.Z</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.comma</key>
		<integer>-80</integer>
		<key>public.kern2.exclamation</key>
		<integer>-30</integer>
		<key>public.kern2.f</key>
		<integer>10</integer>
		<key>public.kern2.g</key>
		<integer>-10</integer>
		<key>public.kern2.i</key>
		<integer>-30</integer>
		<key>public.kern2.j</key>
		<integer>-20</integer>
		<key>public.kern2.k</key>
		<integer>-20</integer>
		<key>public.kern2.m</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.p</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
		<key>public.kern2.u</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>asterisk</key>
		<integer>-120</integer>
		<key>public.kern2.space</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-120</integer>
		<key>quoteright</key>
		<integer>-120</integer>
	</dict>
	<key>public.kern1.q</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>80</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>colon</key>
		<integer>-50</integer>
		<key>ellipsis</key>
		<integer>-170</integer>
		<key>emdash</key>
		<integer>-80</integer>
		<key>endash</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-80</integer>
		<key>public.kern2.a</key>
		<integer>-50</integer>
		<key>public.kern2.comma</key>
		<integer>-140</integer>
		<key>public.kern2.g</key>
		<integer>-40</integer>
		<key>public.kern2.m</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.p</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-130</integer>
		<key>public.kern2.r</key>
		<integer>-20</integer>
		<key>public.kern2.s</key>
		<integer>-40</integer>
		<key>semicolon</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>public.kern2.comma</key>
		<integer>-40</integer>
		<key>public.kern2.k</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.p</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>public.kern2.comma</key>
		<integer>-80</integer>
		<key>public.kern2.g</key>
		<integer>-30</integer>
		<key>public.kern2.k</key>
		<integer>-20</integer>
		<key>public.kern2.m</key>
		<integer>-20</integer>
		<key>public.kern2.n</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.comma</key>
		<integer>-130</integer>
		<key>public.kern2.g</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.p</key>
		<integer>-10</integer>
		<key>public.kern2.period</key>
		<integer>-140</integer>
		<key>public.kern2.r</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.w</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.exclamation</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.x</key>
	<dict>
		<key>emdash</key>
		<integer>-30</integer>
		<key>endash</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.y</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-31</integer>
		<key>public.kern2.j</key>
		<integer>30</integer>
		<key>public.kern2.n</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.z</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>ellipsis</key>
		<integer>-80</integer>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.J</key>
		<integer>-130</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>ellipsis</key>
		<integer>-80</integer>
		<key>public.kern2.J</key>
		<integer>-120</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>public.kern2.M2</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-60</integer>
		<key>public.kern2.m</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.r</key>
		<integer>-50</integer>
		<key>public.kern2.s</key>
		<integer>-80</integer>
		<key>public.kern2.t</key>
		<integer>-10</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-40</integer>
	</dict>
	<key>radical</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-120</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>cent</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-60</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>four</key>
		<integer>-40</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>nine</key>
		<integer>-20</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
