<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_P</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-140</integer>
		<key>@MMK_R_O</key>
		<integer>-80</integer>
		<key>@MMK_R_S</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-140</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-140</integer>
		<key>@MMK_R_r</key>
		<integer>-60</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>emdash</key>
		<integer>-110</integer>
		<key>endash</key>
		<integer>-100</integer>
		<key>hyphen</key>
		<integer>-110</integer>
		<key>semicolon</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_i</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-70</integer>
		<key>@MMK_R_G</key>
		<integer>-70</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>emdash</key>
		<integer>-100</integer>
		<key>endash</key>
		<integer>-100</integer>
		<key>hyphen</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-50</integer>
		<key>emdash</key>
		<integer>-110</integer>
		<key>endash</key>
		<integer>-100</integer>
		<key>hyphen</key>
		<integer>-100</integer>
		<key>quotedblright</key>
		<integer>-140</integer>
		<key>quoteright</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_J</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Shha-cy</key>
	<dict>
		<key>Chedieresis-cy</key>
		<integer>-170</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-130</integer>
		<key>@MMK_R_J</key>
		<integer>-110</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_R</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_comma</key>
		<integer>-120</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-110</integer>
		<key>@MMK_R_r</key>
		<integer>-70</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_B</key>
		<integer>10</integer>
		<key>@MMK_R_comma</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
		<key>ellipsis</key>
		<integer>-100</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_exclamation</key>
		<integer>20</integer>
		<key>ellipsis</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>70</integer>
	</dict>
	<key>@MMK_L_j</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>80</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>-60</integer>
		<key>@MMK_R_c</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>de-cy</key>
		<integer>-40</integer>
		<key>ellipsis</key>
		<integer>-90</integer>
		<key>es-cy</key>
		<integer>-20</integer>
		<key>te-cy</key>
		<integer>-30</integer>
		<key>zhe-cy</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>asterisk</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>110</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_c</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-220</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_period</key>
		<integer>-220</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>ellipsis</key>
		<integer>-220</integer>
		<key>emdash</key>
		<integer>-100</integer>
		<key>endash</key>
		<integer>-100</integer>
		<key>hyphen</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>60</integer>
	</dict>
	<key>Er-cy</key>
	<dict>
		<key>Es-cy</key>
		<integer>-10</integer>
	</dict>
	<key>Ge-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>-80</integer>
	</dict>
	<key>Gheupturn-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>-80</integer>
	</dict>
	<key>Pemiddlehook-cy</key>
	<dict>
		<key>Zhebreve-cy</key>
		<integer>-60</integer>
	</dict>
	<key>Softsign-cy</key>
	<dict>
		<key>Hardsign-cy</key>
		<integer>-70</integer>
	</dict>
	<key>Te-cy</key>
	<dict>
		<key>ii-cy</key>
		<integer>-60</integer>
	</dict>
	<key>Zhe-cy</key>
	<dict>
		<key>Ze-cy</key>
		<integer>-60</integer>
	</dict>
	<key>be-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>el-cy</key>
		<integer>-30</integer>
		<key>ha-cy</key>
		<integer>-50</integer>
		<key>hardsign-cy</key>
		<integer>-10</integer>
	</dict>
	<key>de-cy</key>
	<dict>
		<key>u-cy</key>
		<integer>-20</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>en-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>er-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>zhe-cy</key>
		<integer>-40</integer>
	</dict>
	<key>es-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>te-cy</key>
		<integer>-30</integer>
	</dict>
	<key>ge-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>de-cy</key>
		<integer>-100</integer>
		<key>el-cy</key>
		<integer>-80</integer>
	</dict>
	<key>gheupturn-cy</key>
	<dict>
		<key>de-cy</key>
		<integer>-80</integer>
	</dict>
	<key>ie-cy</key>
	<dict>
		<key>de-cy</key>
		<integer>-50</integer>
		<key>te-cy</key>
		<integer>-40</integer>
	</dict>
	<key>iu-cy</key>
	<dict>
		<key>te-cy</key>
		<integer>-30</integer>
	</dict>
	<key>ka-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
		<key>te-cy</key>
		<integer>-40</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>20</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
	</dict>
	<key>te-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>a-cy</key>
		<integer>-40</integer>
		<key>el-cy</key>
		<integer>-60</integer>
		<key>es-cy</key>
		<integer>-50</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>one</key>
		<integer>-50</integer>
	</dict>
	<key>ve-cy</key>
	<dict>
		<key>el-cy</key>
		<integer>-10</integer>
		<key>ie-cy</key>
		<integer>-20</integer>
	</dict>
	<key>ze-cy</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>one</key>
		<integer>-30</integer>
	</dict>
	<key>zhe-cy</key>
	<dict>
		<key>de-cy</key>
		<integer>-30</integer>
		<key>ie-cy</key>
		<integer>-70</integer>
		<key>u-cy</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
